.idea/
**/*.pyc
**/*.iml
build
target
schemas/AVPRs/*
schemas/JSONs/*
*.egg-info
protocols/*.py
!protocols/__init__.py
!protocols/protocol.py
.coverage
.env
!protocols/helpers.py
docs/**/*-SNAPSHOT
dist
protocols/resources/*
