.idea/
**/*.pyc
**/*.iml
build
target
schemas/AVPRs/*
schemas/JSONs/*
*.egg-info
.coverage
.env
!protocols/helpers.py
docs/**/*-SNAPSHOT
dist
protocols/resources/*
protocols_utils/code_generation/test/protocols_test.py
protocols_utils/code_generation/test/protocols_import_test/
*.avsc
